body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e4316a93890387.5e70ade47b737.gif') center center fixed;
    background-size: cover;
}

#container {
    max-width: 400px;
    background-color: #f4f4f4;
    padding: 20px;
    padding-top: 0 !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5.7em;
}
 
h2 {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: #232526;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #FFCC99;
}

.back-button {
    position: relative;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transform: translateX(-10px);
    z-index: 99;
}