body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://w0.peakpx.com/wallpaper/816/812/HD-wallpaper-black-chalkboard-mathematics-formula-chalkboard-math.jpg') center center fixed;
    background-size: cover;
}

#converter {
    max-width: 400px;
    background: url('https://w0.peakpx.com/wallpaper/338/1021/HD-wallpaper-white-crumpled-paper-texture-white-paper-background-paper-texture-paper.jpg') center center fixed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #232526;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFCC99;
}

.back-button {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: red;
}